<li>@Html.ActionLink("Partial", "Index", "MVC08Partial", new { area = "" }, new { @class = "nav-link" })</li>

<li>
    <a href="/MVC09ViewResults" class="nav-link">ViewResults</a>
</li>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Diğer Konular
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/MVC10FileUpload">File Upload</a></li>
        <li><a class="dropdown-item" href="/MVC11Cookie">Cookie</a></li>
        <li><a class="dropdown-item" href="/MVC12Session">Session</a></li>
        <li><a class="dropdown-item" href="/MVC13StringFormat">String Format</a></li>
        <li><a class="dropdown-item" href="/MVC14AppSetting">AppSetting</a></li>
        <li><a class="dropdown-item" href="/MVC15FiltersUsing">FiltersUsing</a></li>
        <li><a class="dropdown-item" href="/MVC16HttpContext">HttpContext</a></li>
        <li><a class="dropdown-item" href="/MVC17ViewComponent">MVC17 ViewComponent</a></li>
    </ul>
</div>