@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    Asp.Net ile uygulama geliştirmek için 2 farklı platform var
</p>

<ol>
    <li>.Net Framework : sadece windows işletim sistemlerinde çalışır. .net 4.8 son sürümdür</li>
    <li>.Net Core : Cross platform (windows, linux, mac) işletim sistemlerinde çalışır. .Net 8 şimdilik son sürüm</li>
</ol>

<p>
    .net framwork deki references .net core da dependencies (bağımlılıklar) olarak değişmiştir.
</p>

