@{
    ViewBag.Title = "Model Validation";
}

<h2>Model Validation</h2>

<p>
    Kullanıcıdan alınacak verilerin doğrulanmasını sağlar.
</p>

<p>
    Model class ının zorunlu alanları doldurulmuş mu veya veri tipleri uygun mu gibi kontroller yapabiliriz.
</p>

<p class="alert alert-info">
    .Net core da hata mesajları varsayılan olarak ingilizce!
    <br />
    Türkçe mesaj göstermek için Model classlarına kendi mesajımızı manuel eklemeliyiz !!
</p>

<div>
    @Html.ActionLink("Yeni Üye", "YeniUye")
</div>
